<ul class="nav nav-tabs">
  <li class="nav-item"><a href="" class="active nav-link">Change password</a></li>
</ul>
<div class="row">
  <div class="col-12 col-sm-6 mb-3">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Current Password</label>
          <input class="form-control" type="password" placeholder="••••••">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>New Password</label>
          <input class="form-control" type="password" placeholder="••••••">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
          <input class="form-control" type="password" placeholder="••••••"></div>
      </div>
    </div>
  </div>
</div>